@import url('style.css');
.menu{
    right: 0px;
    min-width: 493px;
    height: 100%;
    transition: all 0.7s ease-out;
    z-index: 2;
    top: -2000px; 
    max-height: 80vh;
}
.header{
    height: 8rem;
    min-height: 2rem;
 
}
.header .navbar{
    padding-bottom: 0;
}
.contact-area{
    padding-top: 1rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 1000px){
    .spinner::after{
        top: 50%;
        left: 20%;
    }
}
#map{
    margin-top: 1rem;
 
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    padding: 4rem 1rem;
}