@import url('style.css');

.header{
    height: 8rem;
    min-height: 2rem;
    display: none;
}
.header .navbar{
    padding-bottom: 0;
}
.contact-area{
    padding-top: 1rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 1000px){
    .spinner::after{
        top: 50%;
        left: 20%;
    }
}
